.Friends{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 50px 150px 200px;
    gap: 1cm;
}
header{
    grid-column: 1/3;
    background: Magenta; 
}
footer{
    grid-coloumn: 1/3;
    background: peachpuff;
}
main{
    background: lightblue;
}
aside{
    background: yellow;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1cm;
}
.d1{
    background-color: pink;
    text-align: center;
    padding: 20px;
}